<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Email</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let comment of comments">
        <th scope="row">{{ comment.id }}</th>
        <th scope="row">{{ comment.email }}</th>
        <td>{{ comment.body }}</td>
      </tr>
    </tbody>
  </table>
  
  <cos-pagination [total]="total" [current]="current" [startFrom]="startFrom" [size]="size"
    (pageChanged)="onPageChanged($event)"></cos-pagination>

  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="row">The total number of comments</th>
            <td>{{ total }}</td>
          </tr>
          <tr>
            <th scope="row">Size</th>
            <td>{{ size }}</td>
          </tr>
          <tr>
            <th scope="row">Current Page</th>
            <td>{{ startFrom == 0 ? current+1 : current }}</td>
          </tr>
          <tr>
            <th scope="row">Start Index</th>
            <td colspan="2">{{ startFrom }}</td>
          </tr>
          <tr>
            <th scope="row">Comments URL</th>
            <td>{{ commentsUrl }}</td>
          </tr>
          <tr>
            <th scope="row">Full Url</th>
            <td colspan="2">{{ fullUrl }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>